.add-service form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.add-service form textarea{
    width: 40%;
    margin-bottom: 10px;
    height: 70px;
}
.add-service form input {
    width: 40%;
    margin-bottom: 10px;
}
/*  */